.counter-container{
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 1.5rem;
    flex-direction: column;
    gap: 15px;
}